@import 'styles/variables';

.header {
  width: 100%;
}

.nav {
  width: 100%;
  height: $header-height-web;
  min-height: 2rem;
  max-height: 4rem;
  background: $green;
}

.navList {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  height: 100%;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.navItem {
  list-style: none;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

.navItemLink {
  text-decoration: none;
  color: $white;
  position: relative;
  transition: 0.5s;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 100%;
    height: 1px;
    left: 0;
    background: $white;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.logoContainer {
  list-style: none;
  margin-top: 1.5rem;
  z-index: 10000;
  background-color: $white;
  border-radius: 10rem;
  border: 0.5rem solid $green;
  cursor: pointer;
}
