@import 'styles/variables';

.facilityItemWeb {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  justify-content: center;
  align-items: center;

  .facilityTitle {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .facilityImage {
    margin-top: 1rem;
    max-width: 98%;
  }

  p {
    margin: 0.3rem 0;
  }

  .logo {
    border-radius: 100%;
    position: relative;
    margin-top: -15%;
    max-width: 160px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .locationContainer {
    display: flex;
    width: 100%;
  }

  .mediaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0.2rem 0;

    .mediaItem {
      display: flex;
      align-items: center;
      margin: 0.3rem 0;

      a {
        text-decoration: none;
        color: $black;
        margin: 0 0.3rem;
      }

      a:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }
}

.facilityItemMobile {
  display: flex;
  height: 28vh;
  justify-content: center;
  align-items: center;
  width: 96vw;
  background-color: $white;
  color: $black;
  font-size: 0.8rem;

  .facilityTitle {
    font-size: 1rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }

  .facilityImage {
    margin-top: 1rem;
    max-height: 40%;
  }

  p {
    margin: 0.3rem 0;
  }

  .locationContainer {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .mediaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0.2rem 0;

    .mediaItem {
      display: flex;
      align-items: center;
      margin: 0.3rem 0;

      a {
        text-decoration: none;
        color: $black;
        margin: 0 0.3rem;
      }

      a:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }

  .logo {
    border-radius: 100%;
    max-width: 160px;
  }
}

.popupContainer {
  @media (max-width: 800px) {
    position: absolute;
    bottom: -86px !important;
    left: -200px !important;
  }
}

.mapForSelectedFacility {
  height: 50vh;
  width: 96vw;
  margin: 2rem auto 0;
}

.map {
  width: 96vw;
  height: 78vh;
  margin: 2rem auto 0;
}
