.facilityItem {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  justify-content: center;
  align-items: center;

  .facilityTitle {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .facilityImage {
    margin-top: 1rem;
    max-width: 98%;
  }

  p {
    margin: 0.3rem 0;
  }
}

.locationContainer {
  display: flex;
  align-items: center;

  .locationIcon {
    width: 26px;
    height: 26px;
  }
}

.logo {
  border-radius: 100%;
  position: relative;
  margin-top: -15%;
  max-width: 160px;
}
