@import 'styles/variables';

.pageContainer {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  min-height: $content-height-web;

  h1 {
    text-transform: uppercase;
    text-align: center;
  }

  article {
    text-align: center;
    margin: 0.5rem 0;
  }
}

.logoContainer {
  list-style: none;
  margin: 0.5rem 0;
  z-index: 10000;
  background-color: $white;
  border-radius: 10rem;
  cursor: pointer;
}

.articleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    max-width: 70%;
  }
}

.mailTo {
  text-decoration: none;
  color: $orange;
  transition: all 1s ease-out;

  &:hover {
    color: $red;
  }
}
